body {
  background-color: rgb(201, 199, 199);
}

.form {
  background-color: rgb(251, 253, 251);
  width: 700px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

button {
  background-color: red;
  color: white;
  border-style: none;
}

.addBut {
  background-color: blue;
}
button:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
}

.addBut:hover {
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
}
